* {
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

svg {
  display: block;
}

#wrapper {
  min-width: 320px;
}

/* skip-nav */
#skip-nav {
  position: relative;
  z-index: 100;

  a {
    position: absolute;
    top: -30px;
    left: 0;
    width: 300px;
    background: #333;
    text-align: center;
    padding: 2px 6px 0 0;
    font-size: 13px;
    line-height: 26px;
    color: #fff;
    white-space: nowrap;

    &:focus {
      top: 0;
    }
  }
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

i[class^="ico-"],
i[class*="ico-"] {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: top;
  background-repeat: no-repeat;
}

div[class*="inner"] {
  position: relative;
  margin: 0 auto;
}

.common-inner {
  width: 100%;
  padding-right: 2.5rem;
  padding-left: 2.5rem;

  @include mobile {
    max-width: 640px;
  }

  @include tablet-small {
    max-width: 768px;
  }

  @include tablet-large {
    max-width: 1024px;
    padding-right: 6rem;
    padding-left: 6rem;
  }

  @include desktop-xsmall {
    max-width: 1280px;
  }

  @include desktop-small {
    max-width: 1440px;
  }

  @include desktop-medium {
    max-width: 1536px;
    padding-right: 10rem;
    padding-left: 10rem;
  }

  @include desktop-large {
    max-width: 1354px;
    padding: 0;
  }

  &.huge {
    @include tablet-large {
      padding-left: 4rem;
      padding-right: 4rem;
    }
    @include desktop-medium {
      padding-left: 6rem;
      padding-right: 6rem;
    }
    @include desktop-large {
      max-width: 1536px;
      padding: 0;
    }
  }
}

span {
  display: inline-block;
}

section[class^="sc-"] {
  padding-top: 5rem;
  padding-bottom: 5rem;

  @include desktop-xsmall {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  @include desktop-medium {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  &.full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;

    @include desktop-xsmall {
      min-height: 100vh;
    }
  }
}

.thumb-dim {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-navy;
    opacity: .5;
  }
}