* {
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

svg {
  display: block;
}

#wrapper {
  min-width: 320px;
}

/* skip-nav */
#skip-nav {
  position: relative;
  z-index: 100;

  a {
    position: absolute;
    top: -30px;
    left: 0;
    width: 300px;
    background: #333;
    text-align: center;
    padding: 2px 6px 0 0;
    font-size: 13px;
    line-height: 26px;
    color: #fff;
    white-space: nowrap;

    &:focus {
      top: 0;
    }
  }
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

i[class^="ico-"],
i[class*="ico-"] {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: top;
  background-repeat: no-repeat;
}

div[class*="inner"] {
  position: relative;
  margin: 0 auto;
}

.common-inner {
  width: 100%;
  padding: {
    right: 2.5rem;
    left: 2.5rem;
  }

  @include mobile {
    max-width: 640px;
  }

  @include tablet-small {
    max-width: 768px;
  }

  @include tablet-large {
    max-width: 1024px;
    padding: {
      right: 6rem;
      left: 6rem;
    }
  }

  @include desktop-xsmall {
    max-width: 1280px;
  }

  @include desktop-small {
    max-width: 1440px;
  }

  @include desktop {
    max-width: 1280px;
  }

  @include desktop-medium {
    max-width: 1536px;
    padding: {
      right: 10rem;
      left: 10rem;
    }
  }

  @include desktop-large {
    max-width: 1354px;
    padding: 0;
  }

  &.huge {
    @include tablet-large {
      padding: {
        left: 4rem;
        right: 4rem;
      }
    }

    @include desktop-medium {
      padding: {
        left: 6rem;
        right: 6rem;
      }
    }

    @include desktop-large {
      max-width: 1536px;
      padding: 0;
    }
  }
}

span {
  display: inline-block;
}

span.row {
  overflow: hidden;
}

section,
#footer {
  padding: {
    top: 5rem;
    bottom: 5rem; 
  }

  @include desktop-xsmall {
    padding: {
      top: 10rem;
      bottom: 10rem;
    }
  }

  @include desktop-medium {
    padding: {
      top: 12rem;
      bottom: 12rem;
    }
  }

  &.full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;

    @include desktop-xsmall {
      min-height: 100vh;
    }
  }
}

.thumb-dim {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-navy;
    opacity: .5;
  }
}

// animation
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.connect-area {
  display: flex;
  align-items: center;

  .title {
    margin-right: 1rem;
    font: {
      size: .9375rem;
      weight: 300;
    }
    line-height: 1;
    color: $color-white;
    white-space: nowrap;
  }

  .sns-list {
    flex: 1 1 0;
    display: flex;
    align-items: center;
  }

  .link-sns {
    display: block;
    padding: 0.5rem;
    color: $color-white;
    @include transition-color;

    &:hover {
      color: $color-point;
    }

    svg {
      fill: currentColor;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.signup-area {
  margin-top: 4rem;
  @include column(start);

  form {
    width: 100%;
  }

  .title {
    font-size: clamp(30px, 3vw, 55px);
    line-height: 1.25;
    color: $color-point;
    @include column(start);
  }

  .input-email {
    width: 100%;
    font: {
      family: CMGLano;
      size: 1.125rem;
      weight: 300;
    }
    line-height: 1.25;
    color: $color-white;
    margin-top: 0.75rem;
    padding: {
      top: 0.5rem;
      bottom: 0.5rem;
    }
    border-bottom: 1px solid $color-white;
    outline: 2px solid transparent;
    outline-offset: 2px;
    @include transition;

    &::placeholder {
      color: rgba(255, 255, 255, .5);
    }

    @include tablet-large {
      margin-top: 2rem;
    }
  }

  .btn-send {
    margin-top: 1rem;

    @include tablet-large {
      margin-top: 1.5rem;
    }
  }
}