// font - CMGLano
@font-face {
  font-family: "CMGLano";
  src: local("CMGLano-Regular"), url("../fonts/CMGLano-Regular.59737bc.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "CMGLano";
  src: local("CMGLano-SemiLight"), url("../fonts/CMGLano-SemiLight.2dd5571.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "ApercuMonoPro";
  src: local("ApercuMonoPro-Medium"), url("../fonts/ApercuMonoPro-Medium.34a3c25.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: CMGLano;
  font-size: 1rem;
  font-weight: 300;
  color: #333047;
  line-height: inherit;
}

.highlight {
  color: rgb(217, 242, 82);
}

.sc-title {
  display: inline-flex;
  align-items: center;
  border: 2px solid rgb(217, 242, 82);
  padding: 0.5rem 1.25rem;
  margin-bottom: 1.5rem;
  font-family: ApercuMonoPro;
  font-size: .8125rem;
  text-transform: uppercase;
  line-height: 1;
  color: rgb(51, 48, 71);
  border-radius: 9999px;

  @include tablet-large {
    font-size: .9375rem;
  }

  &.white {
    color: #fff;
  }
}

.sc-sub-title {
  line-height: 1.375;
  font-size: clamp(2.8125rem, 5.25vw, 6.25rem);

  @include tablet-large {
    line-height: 1.25;
  }
}