#footer {
  position: relative;
  background: $color-navy;
  color: $color-white;

  .common-inner {
    display: flex;
    flex: {
      wrap: wrap;
      direction: column;
    }

    @include tablet-large {
      padding: {
        left: 5rem;
        right: 5rem;
      }
    }

    @include desktop-medium {
      padding: {
        left: 8rem;
        right: 8rem; 
      }
    }

    @include desktop-large {
      padding: {
        left: 0;
        right: 0; 
      }
      max-width: 1440px;
    }

    @include tablet-small {
      flex-direction: row;
    }
  }

  a {
    display: block;
  }

  .title-area {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    order: 1;

    @include tablet-small {
      order: 1;
      width: 100%;
    }

    @include desktop-xsmall {
      flex-direction: row;
    }

    @include desktop-small {
      width: 66%;
    }
  }

  .footer-title {

    pointer-events: none;

    @include desktop-xsmall {
      pointer-events: auto;
    }

    a {
      @include column(start);
      line-height: 1.375;
      font-size: clamp(2.8125rem, 8vw, 9.375rem);

      @include tablet-large {
        line-height: 1.25;
      }

      @include desktop-medium {
        font-size: clamp(4.375rem, 14vw, 11.25rem);
      }
    }
  }

  .link-contact {
    display: inline-flex;
    background-color: transparent;
    color: $color-white;
    border: 1px solid $color-white;

    @include desktop-xsmall {
      display: none;
    }

    svg {
      width: 0.8125rem;
      height: 0.8125rem;
      margin-left: 1em;
      stroke: currentColor;
      @include transition;
    }

    &:hover {
      background-color: $color-white;
      color: $color-navy;
    }
  }

  .group-address {
    @include column(null);
    margin-top: 4rem;
    order: 2;

    @include tablet-small {
      order: 2;
      flex: {
        direction: row;
        wrap: wrap;
      }
      width: 100%;
    }

    @include tablet-large {
      margin-top: 5rem;
    }

    @include desktop-small {
      width: 66%;
    }

    .title {
      display: block;
      font-size: 1.125rem;

      @include tablet-small {
        width: 100%;
      }

      @include tablet-large {
        font-size: 1.375rem;
      }
    }
  }

  .address-area-wrap {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;

    @include tablet-small {
      width: 100%;
    }

    @include tablet-large {
      margin-top: 2.5rem;
    }

    @include tablet-small {
      flex-direction: row;
    }
  }

  .inner1,
  .inner2 {
    margin: 0;

    @include tablet-small {
      margin: 0 auto;
    }
  }

  .inner1,
  .inner2 .address-area {
    @include tablet-small {
      flex: 1 1 0;
    }

    @include tablet-large {
      display: flex;
      flex: 1 1 auto;
    }

    .location {
      display: block;
      font: {
        family: ApercuMonoPro;
        size: .9375rem;
      }
      text-transform: uppercase;
      color: $color-point;

      @include tablet-large {
        margin-bottom: 1.25rem;
        width: 100%;
      }
    }
  }

  .inner1 {

    @include tablet-large {
      width: 75%;
      flex-wrap: wrap;
    }

    .address-area {
      margin-top: 1.25rem;

      @include tablet-large {
        margin-top: 0.75rem;
        max-width: 50%;
        padding-right: 2.5rem;
      }

      @include desktop-large {
        padding-right: 4rem;
      }
    }
  }

  .inner2 {
    @include tablet-small {
      flex: 1 1 0;
    }

    @include tablet-large {
      width: 25%;
      flex: 1 1 auto;
    }

    .address-area {
      margin-top: 2rem;

      @include tablet-small {
        margin-top: 0;
      }

      @include tablet-large {
        display: flex;
        flex-direction: column;
      }
    }

    .title {
      margin-top: 1.25rem;
    }
  }

  .address-area {
    line-height: 1.25;

    a {
      @include transition;

      &:hover {
        color: $color-point;
      }
    }

    .address {
      margin-top: 1rem;
      display: inline-flex;
      width: 100%;

      @include desktop-large {
        white-space: nowrap;
      }

      a {
        text-decoration: underline;
      }
    }

    .contact {
      @include column(start);
      margin-top: 1rem;

      &>a {
        white-space: nowrap;
      }
    }

    .address,
    .contact {
      font: {
        size: .8125rem;
        weight: 300;
      }

      @include tablet-large {
        margin-top: 1.25rem;
        font-size: .9375rem;
      }
    }
  }

  .group-connect {
    display: flex;
    flex-wrap: wrap;
    font: {
      size: .8125rem;
      weight: 300;
    }
    order: 6;

    @include tablet-small {
      order: 6;
      align-items: baseline;
      justify-content: space-between;
      width: 100%;
    }

    @include tablet-large {
      font-size: .9375rem;
    }

    @include desktop-small {
      width: 66%;
    }
  }

  .connect-area,
  .corp-list {
    margin-top: 4rem;

    @include tablet-large {
      margin-top: 5rem;
    }
  }

  .connect-area {
    .title {
      @include tablet-large {
        margin-right: 0.5rem;
      }
    }

    .link-sns {
      margin-right: 1rem;

      @include tablet-large {
        margin-right: 0px;
      }

      svg {
        @include tablet-large {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }

  .copyright {
    opacity: .5;
  }

  .corp-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @include tablet-small {
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    @include tablet-large {
      width: 76%;
    }
  }

  .corp-item {
    &.north {
      width: 100%;
      order: -1;
      margin-bottom: 1.5rem;

      @include tablet-small {
        width: auto;
        order: 0;
        margin-bottom: 0;
      }
    }

    &+.corp-item {
      margin-left: auto;

      @include tablet-small {
        margin-left: 0;
      }
    }
  }

  .link-corp {
    opacity: .5;
    @include transition;

    &:hover {
      opacity: 1;
    }
  }

  .column-right {
    margin-top: 4rem;

    @include tablet-small {
      width: 50%;
    }

    @include tablet-large {
      margin-top: 5rem;
    }

    @include desktop-small {
      position: absolute;
      right: 8rem;
      width: calc(34% - 12rem);
    }

    @include desktop-large {
      right: 0;
    }
  }

  .signup-area {
    order: 3;

    @include tablet-small {
      order: 3;
    }

    @include desktop-small {
      top: 0;
      margin-top: 2rem;
    }
  }

  .magnet-area {
    @include column(start);
    order: 4;

    @include tablet-small {
      order: 4;
      padding-left: 4rem;
    }

    @include desktop-small {
      bottom: 0;
      margin: {
        top: 0;
        bottom: 0.125rem;
      }
      padding-left: 0;
    }

    .title {
      display: block;

      img {
        height: 2.5rem;

        @include tablet-large {
          height: 3rem;
        }
      }
    }

    .desc {
      margin-top: 1rem;
      font-size: .8125rem;
      line-height: 1.5;
      opacity: .5;

      @include tablet-large {
        font-size: .9375rem;
      }

      @include desktop-small {
        min-width: 320px;
      }
    }
  }
}