/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

a { text-decoration: none; color: inherit; }

img { max-width: 100%; vertical-align: top; }

input, select, button { font: inherit; color: inherit; -webkit-appearance: none; border: 0; background: transparent; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

body, html { overflow-x: hidden; }

svg { display: block; }

#wrapper { min-width: 320px; }

/* skip-nav */
#skip-nav { position: relative; z-index: 100; }

#skip-nav a { position: absolute; top: -30px; left: 0; width: 300px; background: #333; text-align: center; padding: 2px 6px 0 0; font-size: 13px; line-height: 26px; color: #fff; white-space: nowrap; }

#skip-nav a:focus { top: 0; }

.blind { position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip: rect(0 0 0 0); }

i[class^="ico-"], i[class*="ico-"] { display: inline-block; width: 25px; height: 25px; vertical-align: top; background-repeat: no-repeat; }

div[class*="inner"] { position: relative; margin: 0 auto; }

.common-inner { width: 100%; padding-right: 2.5rem; padding-left: 2.5rem; }

@media (min-width: 640px) { .common-inner { max-width: 640px; } }

@media (min-width: 768px) { .common-inner { max-width: 768px; } }

@media (min-width: 1024px) { .common-inner { max-width: 1024px; padding-right: 6rem; padding-left: 6rem; } }

@media (min-width: 1280px) { .common-inner { max-width: 1280px; } }

@media (min-width: 1440px) { .common-inner { max-width: 1440px; } }

@media (min-width: 1440px) and (max-width: calc(1536px - 1px)) { .common-inner { max-width: 1280px; } }

@media (min-width: 1536px) { .common-inner { max-width: 1536px; padding-right: 10rem; padding-left: 10rem; } }

@media (min-width: 1920px) { .common-inner { max-width: 1354px; padding: 0; } }

@media (min-width: 1024px) { .common-inner.huge { padding-left: 4rem; padding-right: 4rem; } }

@media (min-width: 1536px) { .common-inner.huge { padding-left: 6rem; padding-right: 6rem; } }

@media (min-width: 1920px) { .common-inner.huge { max-width: 1536px; padding: 0; } }

span { display: inline-block; }

span.row { overflow: hidden; }

section, #footer { padding-top: 5rem; padding-bottom: 5rem; }

@media (min-width: 1280px) { section, #footer { padding-top: 10rem; padding-bottom: 10rem; } }

@media (min-width: 1536px) { section, #footer { padding-top: 12rem; padding-bottom: 12rem; } }

section.full, #footer.full { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; min-height: 80vh; }

@media (min-width: 1280px) { section.full, #footer.full { min-height: 100vh; } }

.thumb-dim { position: relative; }

.thumb-dim::after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #333047; opacity: .5; }

@-webkit-keyframes fadeIn { 0% { opacity: 0; }
  to { opacity: 1; } }

@keyframes fadeIn { 0% { opacity: 0; }
  to { opacity: 1; } }

.connect-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.connect-area .title { margin-right: 1rem; font-size: .9375rem; font-weight: 300; line-height: 1; color: #fff; white-space: nowrap; }

.connect-area .sns-list { -webkit-box-flex: 1; -ms-flex: 1 1 0px; flex: 1 1 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.connect-area .link-sns { display: block; padding: 0.5rem; color: #fff; -webkit-transition-property: background-color, border-color, color, fill, stroke; transition-property: background-color, border-color, color, fill, stroke; -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); -webkit-transition-duration: 150ms; transition-duration: 150ms; }

.connect-area .link-sns:hover { color: #d9f252; }

.connect-area .link-sns svg { fill: currentColor; width: 1.5rem; height: 1.5rem; }

.signup-area { margin-top: 4rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.signup-area form { width: 100%; }

.signup-area .title { font-size: clamp(30px, 3vw, 55px); line-height: 1.25; color: #d9f252; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.signup-area .input-email { width: 100%; font-family: CMGLano; font-size: 1.125rem; font-weight: 300; line-height: 1.25; color: #fff; margin-top: 0.75rem; padding-top: 0.5rem; padding-bottom: 0.5rem; border-bottom: 1px solid #fff; outline: 2px solid transparent; outline-offset: 2px; transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter; -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); -webkit-transition-duration: 150ms; transition-duration: 150ms; }

.signup-area .input-email::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.5); }

.signup-area .input-email:-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }

.signup-area .input-email::-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }

.signup-area .input-email::placeholder { color: rgba(255, 255, 255, 0.5); }

@media (min-width: 1024px) { .signup-area .input-email { margin-top: 2rem; } }

.signup-area .btn-send { margin-top: 1rem; }

@media (min-width: 1024px) { .signup-area .btn-send { margin-top: 1.5rem; } }

@font-face { font-family: "CMGLano"; src: local("CMGLano-Regular"), url("../fonts/CMGLano-Regular.59737bc.otf") format("opentype"); font-style: normal; font-weight: 400; }

@font-face { font-family: "CMGLano"; src: local("CMGLano-SemiLight"), url("../fonts/CMGLano-SemiLight.2dd5571.otf") format("opentype"); font-style: normal; font-weight: 300; }

@font-face { font-family: "ApercuMonoPro"; src: local("ApercuMonoPro-Medium"), url("../fonts/ApercuMonoPro-Medium.34a3c25.ttf") format("truetype"); font-style: normal; font-weight: 400; }

html { font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; line-height: 1.5; -webkit-text-size-adjust: 100%; }

body { font-family: CMGLano; font-size: 1rem; font-weight: 300; color: #333047; line-height: inherit; }

.highlight { color: #d9f252; }

.sc-title { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border: 2px solid #d9f252; padding: 0.5rem 1.25rem; margin-bottom: 1.5rem; font-family: ApercuMonoPro; font-size: .8125rem; text-transform: uppercase; line-height: 1; color: #333047; border-radius: 9999px; }

@media (min-width: 1024px) { .sc-title { font-size: .9375rem; } }

.sc-sub-title { line-height: 1.375; font-size: clamp(2.8125rem, 5.25vw, 6.25rem); }

@media (min-width: 1024px) { .sc-sub-title { line-height: 1.25; } }

.sc-sub-title.white { color: #fff; }

#header { position: fixed; left: 0; top: 0; width: 100%; z-index: 10; pointer-events: none; }

#header .inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; padding: 1rem; }

@media (min-width: 1024px) { #header .inner { padding: 2rem; padding-bottom: 0; } }

@media (min-width: 1536px) { #header .inner { padding: 2.5rem; } }

#header .logo-area { margin-left: 1.5rem; margin-right: auto; }

@media (min-width: 1024px) { #header .logo-area { margin-left: 0px; } }

#header .logo { width: 84px; height: 26px; color: #fff; transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter; -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); -webkit-transition-duration: 150ms; transition-duration: 150ms; -webkit-transition-duration: 300ms; transition-duration: 300ms; }

#header .logo.switch { color: #333047; }

@media (min-width: 1024px) { #header .logo { width: 99px; height: 31px; } }

#header .logo a { display: block; height: 100%; pointer-events: auto; }

#header .logo a svg { width: 100%; height: 100%; fill: currentColor; }

#header .btn-nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-radius: 50%; background-color: #d9f252; width: 4rem; height: 4rem; transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter; -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); -webkit-transition-duration: 150ms; transition-duration: 150ms; -webkit-transition-duration: 300ms; transition-duration: 300ms; pointer-events: auto; }

#header .btn-nav:hover { background-color: #006e6e; }

@media (min-width: 1024px) { #header .btn-nav { width: 6rem; height: 6rem; } }

#header .btn-nav.close .line:nth-of-type(1) { -webkit-transform: translateY(6px) rotate(45deg); transform: translateY(6px) rotate(45deg); }

@media (min-width: 1024px) { #header .btn-nav.close .line:nth-of-type(1) { -webkit-transform: translateY(10px) rotate(45deg); transform: translateY(10px) rotate(45deg); } }

#header .btn-nav.close .line:nth-of-type(2) { opacity: 0; }

#header .btn-nav.close .line:nth-of-type(3) { -webkit-transform: translateY(-8px) rotate(-45deg); transform: translateY(-8px) rotate(-45deg); }

@media (min-width: 1024px) { #header .btn-nav.close .line:nth-of-type(3) { -webkit-transform: translateY(-13px) rotate(-45deg); transform: translateY(-13px) rotate(-45deg); } }

#header .btn-nav .line-area { position: relative; width: 20px; height: 15px; }

@media (min-width: 1024px) { #header .btn-nav .line-area { width: 32px; height: 24px; } }

#header .btn-nav .line { position: absolute; left: 0; width: 100%; height: 1px; background-color: #333047; transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter; -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); -webkit-transition-duration: 150ms; transition-duration: 150ms; -webkit-transition-duration: 300ms; transition-duration: 300ms; }

#header .btn-nav .line:nth-of-type(1) { top: 0; }

#header .btn-nav .line:nth-of-type(2) { top: 7px; }

@media (min-width: 1024px) { #header .btn-nav .line:nth-of-type(2) { top: 11px; } }

#header .btn-nav .line:nth-of-type(3) { bottom: 0; }

#gnb { position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; background-color: #006e6e; padding: 7rem 2.5rem 4rem; -webkit-clip-path: circle(0 at calc(100% - 3rem) 3rem); clip-path: circle(0 at calc(100% - 3rem) 3rem); transition: clip-path .5s, -webkit-clip-path .5s; pointer-events: none; z-index: 1; overflow-y: auto; }

#gnb.open { pointer-events: auto; -webkit-clip-path: circle(150% at calc(100% - 5.5rem) 5.5rem); clip-path: circle(150% at calc(100% - 5.5rem) 5.5rem); z-index: 9; }

@media (min-width: 1024px) { #gnb { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; padding: 11rem 10% 4rem; -webkit-clip-path: circle(0 at calc(100% - 5rem) 5rem); clip-path: circle(0 at calc(100% - 5rem) 5rem); }
  #gnb.open { -webkit-clip-path: circle(150% at calc(100% - 5rem) 5rem); clip-path: circle(150% at calc(100% - 5rem) 5rem); } }

@media (min-width: 1536px) { #gnb { -webkit-clip-path: circle(0 at calc(100% - 5.5rem) 5.5rem); clip-path: circle(0 at calc(100% - 5.5rem) 5.5rem); }
  #gnb.open { -webkit-clip-path: circle(150% at calc(100% - 5.5rem) 5.5rem); clip-path: circle(150% at calc(100% - 5.5rem) 5.5rem); } }

#gnb .gnb-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

@media (min-width: 1024px) { #gnb .gnb-list { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; } }

#gnb .gnb-list:hover .link-gnb { opacity: 0.5; }

#gnb .gnb-list:hover .link-gnb:hover { opacity: 1; -webkit-transform: translateX(1rem) scale(1); transform: translateX(1rem) scale(1); }

#gnb .gnb-item { display: -webkit-box; display: -ms-flexbox; display: flex; }

#gnb .link-gnb { -webkit-box-flex: 1; -ms-flex: 1 1 0px; flex: 1 1 0; display: block; font-size: clamp(30px, 3vw, 55px); line-height: 1.25; color: #fff; padding-top: 0.5rem; padding-bottom: 0.5rem; transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter; -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1); transition-timing-function: cubic-bezier(0, 0, 0.2, 1); -webkit-transition-duration: 300ms; transition-duration: 300ms; }

@media (min-width: 1024px) { #gnb .link-gnb { padding-top: 0.4em; padding-bottom: 0.4em; } }

#gnb .group-connect { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; height: 100%; }

@media (min-width: 1024px) { #gnb .group-connect { width: 18rem; margin-right: 12rem; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; } }

#gnb .connect-area { -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; margin-top: auto; }

@media (min-width: 1024px) { #gnb .connect-area { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; margin-top: 0.5rem; -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; } }

@media (min-width: 1024px) { #gnb .connect-area .title { margin-right: 1.25rem; } }

@media (min-width: 1024px) { #gnb .connect-area .sns-list { margin-top: 1rem; } }

#gnb .connect-area .sns-item { margin-right: 1rem; }

@media (min-width: 1024px) { #gnb .connect-area .sns-item { margin-right: 2.25rem; } }

@media (min-width: 1024px) { #gnb .connect-area .link-sns { padding-top: 0.4em; padding-bottom: 0.4em; } }

@media (min-width: 1024px) { #gnb .connect-area .link-sns svg { width: 1.25rem; height: 1.25rem; } }

#gnb .signup-area { -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; }

@media (min-width: 1024px) { #gnb .signup-area { margin-top: 6rem; -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; } }

#footer { position: relative; background: #333047; color: #fff; }

#footer .common-inner { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

@media (min-width: 1024px) { #footer .common-inner { padding-left: 5rem; padding-right: 5rem; } }

@media (min-width: 1536px) { #footer .common-inner { padding-left: 8rem; padding-right: 8rem; } }

@media (min-width: 1920px) { #footer .common-inner { padding-left: 0; padding-right: 0; max-width: 1440px; } }

@media (min-width: 768px) { #footer .common-inner { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } }

#footer a { display: block; }

#footer .title-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }

@media (min-width: 768px) { #footer .title-area { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; width: 100%; } }

@media (min-width: 1280px) { #footer .title-area { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } }

@media (min-width: 1440px) { #footer .title-area { width: 66%; } }

#footer .footer-title { pointer-events: none; }

@media (min-width: 1280px) { #footer .footer-title { pointer-events: auto; } }

#footer .footer-title a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; line-height: 1.375; font-size: clamp(2.8125rem, 8vw, 9.375rem); }

@media (min-width: 1024px) { #footer .footer-title a { line-height: 1.25; } }

@media (min-width: 1536px) { #footer .footer-title a { font-size: clamp(4.375rem, 14vw, 11.25rem); } }

#footer .link-contact { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; background-color: transparent; color: #fff; border: 1px solid #fff; }

@media (min-width: 1280px) { #footer .link-contact { display: none; } }

#footer .link-contact svg { width: 0.8125rem; height: 0.8125rem; margin-left: 1em; stroke: currentColor; transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter; -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); -webkit-transition-duration: 150ms; transition-duration: 150ms; }

#footer .link-contact:hover { background-color: #fff; color: #333047; }

#footer .group-address { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-top: 4rem; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }

@media (min-width: 768px) { #footer .group-address { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 100%; } }

@media (min-width: 1024px) { #footer .group-address { margin-top: 5rem; } }

@media (min-width: 1440px) { #footer .group-address { width: 66%; } }

#footer .group-address .title { display: block; font-size: 1.125rem; }

@media (min-width: 768px) { #footer .group-address .title { width: 100%; } }

@media (min-width: 1024px) { #footer .group-address .title { font-size: 1.375rem; } }

#footer .address-area-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 2rem; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

@media (min-width: 768px) { #footer .address-area-wrap { width: 100%; } }

@media (min-width: 1024px) { #footer .address-area-wrap { margin-top: 2.5rem; } }

@media (min-width: 768px) { #footer .address-area-wrap { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } }

#footer .inner1, #footer .inner2 { margin: 0; }

@media (min-width: 768px) { #footer .inner1, #footer .inner2 { margin: 0 auto; } }

@media (min-width: 768px) { #footer .inner1, #footer .inner2 .address-area { -webkit-box-flex: 1; -ms-flex: 1 1 0px; flex: 1 1 0; } }

@media (min-width: 1024px) { #footer .inner1, #footer .inner2 .address-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; } }

#footer .inner1 .location, #footer .inner2 .address-area .location { display: block; font-family: ApercuMonoPro; font-size: .9375rem; text-transform: uppercase; color: #d9f252; }

@media (min-width: 1024px) { #footer .inner1 .location, #footer .inner2 .address-area .location { margin-bottom: 1.25rem; width: 100%; } }

@media (min-width: 1024px) { #footer .inner1 { width: 75%; -ms-flex-wrap: wrap; flex-wrap: wrap; } }

#footer .inner1 .address-area { margin-top: 1.25rem; }

@media (min-width: 1024px) { #footer .inner1 .address-area { margin-top: 0.75rem; max-width: 50%; padding-right: 2.5rem; } }

@media (min-width: 1920px) { #footer .inner1 .address-area { padding-right: 4rem; } }

@media (min-width: 768px) { #footer .inner2 { -webkit-box-flex: 1; -ms-flex: 1 1 0px; flex: 1 1 0; } }

@media (min-width: 1024px) { #footer .inner2 { width: 25%; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; } }

#footer .inner2 .address-area { margin-top: 2rem; }

@media (min-width: 768px) { #footer .inner2 .address-area { margin-top: 0; } }

@media (min-width: 1024px) { #footer .inner2 .address-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

#footer .inner2 .title { margin-top: 1.25rem; }

#footer .address-area { line-height: 1.25; }

#footer .address-area a { transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter; -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); -webkit-transition-duration: 150ms; transition-duration: 150ms; }

#footer .address-area a:hover { color: #d9f252; }

#footer .address-area .address { margin-top: 1rem; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; width: 100%; }

@media (min-width: 1920px) { #footer .address-area .address { white-space: nowrap; } }

#footer .address-area .address a { text-decoration: underline; }

#footer .address-area .contact { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; margin-top: 1rem; }

#footer .address-area .contact > a { white-space: nowrap; }

#footer .address-area .address, #footer .address-area .contact { font-size: .8125rem; font-weight: 300; }

@media (min-width: 1024px) { #footer .address-area .address, #footer .address-area .contact { margin-top: 1.25rem; font-size: .9375rem; } }

#footer .group-connect { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; font-size: .8125rem; font-weight: 300; -webkit-box-ordinal-group: 7; -ms-flex-order: 6; order: 6; }

@media (min-width: 768px) { #footer .group-connect { -webkit-box-ordinal-group: 7; -ms-flex-order: 6; order: 6; -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; } }

@media (min-width: 1024px) { #footer .group-connect { font-size: .9375rem; } }

@media (min-width: 1440px) { #footer .group-connect { width: 66%; } }

#footer .connect-area, #footer .corp-list { margin-top: 4rem; }

@media (min-width: 1024px) { #footer .connect-area, #footer .corp-list { margin-top: 5rem; } }

@media (min-width: 1024px) { #footer .connect-area .title { margin-right: 0.5rem; } }

#footer .connect-area .link-sns { margin-right: 1rem; }

@media (min-width: 1024px) { #footer .connect-area .link-sns { margin-right: 0px; } }

@media (min-width: 1024px) { #footer .connect-area .link-sns svg { width: 1rem; height: 1rem; } }

#footer .copyright { opacity: .5; }

#footer .corp-list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 100%; }

@media (min-width: 768px) { #footer .corp-list { -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; } }

@media (min-width: 1024px) { #footer .corp-list { width: 76%; } }

#footer .corp-item.north { width: 100%; -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; margin-bottom: 1.5rem; }

@media (min-width: 768px) { #footer .corp-item.north { width: auto; -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; margin-bottom: 0; } }

#footer .corp-item + .corp-item { margin-left: auto; }

@media (min-width: 768px) { #footer .corp-item + .corp-item { margin-left: 0; } }

#footer .link-corp { opacity: .5; transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter; -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); -webkit-transition-duration: 150ms; transition-duration: 150ms; }

#footer .link-corp:hover { opacity: 1; }

#footer .column-right { margin-top: 4rem; }

@media (min-width: 768px) { #footer .column-right { width: 50%; } }

@media (min-width: 1024px) { #footer .column-right { margin-top: 5rem; } }

@media (min-width: 1440px) { #footer .column-right { position: absolute; right: 8rem; width: calc(34% - 12rem); } }

@media (min-width: 1920px) { #footer .column-right { right: 0; } }

#footer .signup-area { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; }

@media (min-width: 768px) { #footer .signup-area { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; } }

@media (min-width: 1440px) { #footer .signup-area { top: 0; margin-top: 2rem; } }

#footer .magnet-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-ordinal-group: 5; -ms-flex-order: 4; order: 4; }

@media (min-width: 768px) { #footer .magnet-area { -webkit-box-ordinal-group: 5; -ms-flex-order: 4; order: 4; padding-left: 4rem; } }

@media (min-width: 1440px) { #footer .magnet-area { bottom: 0; margin-top: 0; margin-bottom: 0.125rem; padding-left: 0; } }

#footer .magnet-area .title { display: block; }

#footer .magnet-area .title img { height: 2.5rem; }

@media (min-width: 1024px) { #footer .magnet-area .title img { height: 3rem; } }

#footer .magnet-area .desc { margin-top: 1rem; font-size: .8125rem; line-height: 1.5; opacity: .5; }

@media (min-width: 1024px) { #footer .magnet-area .desc { font-size: .9375rem; } }

@media (min-width: 1440px) { #footer .magnet-area .desc { min-width: 320px; } }

.btn { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-family: ApercuMonoPro; font-size: .8125rem; text-transform: uppercase; white-space: nowrap; color: #333047; background-color: #d9f252; border-radius: 100px; height: 37px; line-height: 2.5; padding: 0 2em; -webkit-transition-property: background-color, border-color, color, fill, stroke; transition-property: background-color, border-color, color, fill, stroke; -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); -webkit-transition-duration: 150ms; transition-duration: 150ms; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

@media (min-width: 1024px) { .btn { height: 39px; padding: 0 3.5em; } }

.swiper-pagination.default { bottom: 0; }

.swiper-pagination.default .swiper-pagination-bullet { margin-left: 0.75rem; margin-right: 0.75rem; border: 1px solid #333047; background-color: #fff; opacity: 1; }

.swiper-pagination.default .swiper-pagination-bullet-active { background-color: #333047; }

.sc-visual { position: relative; height: 67vh; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; overflow: hidden; padding: 0; }

@media (orientation: landscape) { .sc-visual { height: 100vh; } }

.sc-visual .common-inner { height: 100%; }

.sc-visual .title-area { position: absolute; bottom: 3.5rem; z-index: 1; }

@media (min-width: 1024px) { .sc-visual .title-area { bottom: 50%; -webkit-transform: translateY(50%); transform: translateY(50%); } }

.sc-visual .title-area .title { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; line-height: 1.375; font-size: clamp(2.8125rem, 8vw, 9.375rem); color: #fff; }

@media (min-width: 1024px) { .sc-visual .title-area .title { line-height: 1.125; } }

.sc-visual .btn-scroll { position: absolute; left: calc(50% - 55px); bottom: 40px; z-index: 0; width: 110px; height: 110px; border-radius: 110px; border: 2px solid #fff; white-space: nowrap; opacity: 0; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-animation: fadeIn 1.2s ease 1s; animation: fadeIn 1.2s ease 1s; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; display: none; font-family: ApercuMonoPro; font-size: .8125rem; text-transform: uppercase; line-height: 1.25; color: #fff; cursor: default; display: none; z-index: 1; }

@media (min-width: 1280px) { .sc-visual .btn-scroll { display: -webkit-box; display: -ms-flexbox; display: flex; } }

.sc-visual .btn-scroll svg { position: absolute; -webkit-transform: rotate(90deg) scale(1); transform: rotate(90deg) scale(1); width: 1rem; height: 1rem; bottom: 1.5rem; stroke: currentColor; }

.sc-visual .bg-area { position: absolute; left: 0; top: 0; width: 100%; height: 100%; -webkit-transform: scale(1.075, 1.075); transform: scale(1.075, 1.075); background-image: url("../images/bg/visual_img_mobile.jpg"); background-repeat: no-repeat; background-position: 50% 0; background-size: cover; }

@media (min-width: 768px) { .sc-visual .bg-area { background-image: url("../images/bg/visual_img.jpg"); } }

.sc-intro { position: relative; background: #fff; }

.sc-intro .group-title { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; z-index: 1; }

@media (min-width: 1024px) { .sc-intro .group-title { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } }

.sc-intro .title-area { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; margin-top: 4rem; }

@media (min-width: 1024px) { .sc-intro .title-area { -webkit-box-flex: 1; -ms-flex: 1 1 0px; flex: 1 1 0; margin-top: 0; margin-left: 5rem; } }

@media (min-width: 1280px) { .sc-intro .title-area { margin-left: 10rem; } }

.sc-intro .title-area .desc { line-height: 2; font-size: clamp(1.4375rem, 2.9vw, 3.4375rem); }

@media (min-width: 1024px) { .sc-intro .title-area .desc { line-height: 1.625; } }

.sc-intro .floating-txt { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; -ms-flex-item-align: center; align-self: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 295px; height: 295px; padding: 70px; border-radius: 50%; background: #d9f252; }

.sc-intro .floating-txt.opacity { opacity: 0; -webkit-transition: opacity .3s; transition: opacity .3s; }

.sc-intro .floating-txt.opacity.fadein { opacity: 1; }

@media (min-width: 1280px) { .sc-intro .floating-txt { width: 400px; height: 400px; padding: 90px; } }

.sc-intro .floating-txt .motto { text-align: center; font-size: 1.4375rem; }

@media (min-width: 1280px) { .sc-intro .floating-txt .motto { font-size: 2.1875rem; } }

.sc-whatwedo { position: relative; color: #fff; background-color: #006e6e; z-index: 1; }

.sc-whatwedo .common-inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.sc-whatwedo .group-title { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; display: -ms-grid; display: grid; gap: 3rem; }

@media (min-width: 1024px) { .sc-whatwedo .group-title { -ms-grid-columns: (minmax(0, 1fr))[2]; grid-template-columns: repeat(2, minmax(0, 1fr)); gap: 6rem; } }

.sc-whatwedo .title-area .sc-title { color: #fff; }

.sc-whatwedo .title-area .sc-sub-title { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.sc-whatwedo .title-area .desc { margin-top: 2rem; line-height: 2; font-size: clamp(1rem, 1.35vw, 1.5625rem); }

.sc-whatwedo .column-right { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media (min-width: 1024px) { .sc-whatwedo .column-right { margin-top: 5rem; } }

.sc-whatwedo .whatwedo-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.sc-whatwedo .whatwedo-list:hover .title { opacity: 0.5; }

.sc-whatwedo .whatwedo-item:hover .title { opacity: 1; }

.sc-whatwedo .link-whatwedo { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 1.4375rem; line-height: 1.15; padding-top: 0.5rem; padding-bottom: 0.5rem; }

@media (min-width: 1024px) { .sc-whatwedo .link-whatwedo { font-size: 2.1875rem; padding-top: 1rem; padding-bottom: 1rem; } }

@media (min-width: 1280px) { .sc-whatwedo .link-whatwedo { padding-top: 1.5rem; padding-bottom: 1.5rem; } }

.sc-whatwedo .link-whatwedo svg { stroke: currentColor; color: #d9f252; width: 1rem; height: 1rem; margin-right: 1.5rem; }

.sc-whatwedo .link-whatwedo .title { transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter; -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1); transition-timing-function: cubic-bezier(0, 0, 0.2, 1); -webkit-transition-duration: 300ms; transition-duration: 300ms; }

.sc-whatwedo .group-value { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; display: -ms-grid; display: grid; gap: 4rem; margin-bottom: 5rem; }

@media (min-width: 1024px) { .sc-whatwedo .group-value { gap: 3rem; -ms-grid-columns: (minmax(0, 1fr))[2]; grid-template-columns: repeat(2, minmax(0, 1fr)); } }

@media (min-width: 1280px) { .sc-whatwedo .group-value { margin-bottom: 10rem; gap: 6rem; } }

.sc-whatwedo .value-area { font-family: CMGLano; font-weight: 400; }

.sc-whatwedo .value-area:nth-child(n+3) { -ms-grid-column-align: auto; justify-self: auto; }

@media (min-width: 1024px) { .sc-whatwedo .value-area:nth-child(n+3) { -ms-grid-column-align: end; justify-self: end; } }

.sc-whatwedo .value-area .value { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; margin-top: 1rem; pointer-events: none; color: #d9f252; font-size: clamp(100px, 11vw, 205px); line-height: 1; }

.sc-whatwedo .value-area .title { display: block; font-size: 18px; line-height: 1; white-space: nowrap; text-transform: uppercase; color: #fff; }

@media (min-width: 1024px) { .sc-whatwedo .value-area .title { font-size: 22px; } }

.sc-client .title-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.sc-client .client-list-wrap.pc { display: none; }

.sc-client .client-list-wrap.pc .client-list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

@media (min-width: 1024px) { .sc-client .client-list-wrap.pc .client-list { margin-top: 5rem; } }

@media (min-width: 1280px) { .sc-client .client-list-wrap.pc .client-list { margin-top: 6rem; } }

@media (min-width: 1536px) { .sc-client .client-list-wrap.pc .client-list { margin-top: 10rem; } }

.sc-client .client-list-wrap.mobile { display: block; }

@media (min-width: 640px) { .sc-client .client-list-wrap.pc { display: block; }
  .sc-client .client-list-wrap.mobile { display: none; } }

.sc-client .swiper { padding-bottom: 3rem; }

.sc-client .swiper .swiper-slide { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.sc-client .swiper .swiper-slide .logo { width: calc((100% - 0.5rem) / 2); }

.client-list { margin-top: 3rem; }

.client-item { width: calc((100% - 1.5rem) / 4); }

.client-item:nth-child(n+5) { margin-top: 0.5rem; }

.client-item .logo { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.sc-study { padding-bottom: 0; }

@media (min-width: 1024px) { .sc-study { position: relative; } }

@media (max-width: 1024px) { .sc-study { padding: 0; } }

.sc-study .content.pc { display: none; }

.sc-study .content.mobile { display: block; }

@media (min-width: 1024px) { .sc-study .content.pc { display: block; position: relative; }
  .sc-study .content.mobile { display: none; } }

.sc-study .sc-title { position: absolute; top: 5rem; z-index: 2; color: #fff; margin-bottom: 0; }

@media (min-width: 1024px) { .sc-study .sc-title { position: relative; top: auto; margin-bottom: 8rem; } }

.sc-study .study-area .badge-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.sc-study .study-area .badge { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border: 2px solid #fff; padding: 0.5rem 1.25rem; margin-bottom: 1.5rem; font-family: ApercuMonoPro; font-size: .8125rem; text-transform: uppercase; line-height: 1; color: #fff; border-radius: 9999px; margin-bottom: 1rem; margin-right: 1rem; }

@media (min-width: 1024px) { .sc-study .study-area .badge { font-size: .9375rem; } }

.sc-study img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; }

.sc-study .content.pc .study-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.sc-study .content.pc .study-list:hover .sc-sub-title { opacity: 0.5; }

.sc-study .content.pc .study-item { margin-bottom: 8rem; }

.sc-study .content.pc .study-item:hover .sc-sub-title { opacity: 1; }

.sc-study .content.pc .study-item:hover .badge-wrap { opacity: 1; -webkit-transform: translateX(0) scale(1); transform: translateX(0) scale(1); }

.sc-study .content.pc .study-area { position: relative; display: block; z-index: 1; }

.sc-study .content.pc .study-area .sc-sub-title { max-width: 64rem; -webkit-transition-property: opacity; transition-property: opacity; -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); -webkit-transition-duration: 150ms; transition-duration: 150ms; -webkit-transition-duration: 500ms; transition-duration: 500ms; }

.sc-study .content.pc .study-area .badge-wrap { -webkit-transform: translateX(0.5rem) scale(1); transform: translateX(0.5rem) scale(1); -webkit-transition-property: all; transition-property: all; -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); -webkit-transition-duration: 150ms; transition-duration: 150ms; -webkit-transition-duration: 500ms; transition-duration: 500ms; opacity: 0; }

.sc-study .content.pc .bg-area { position: absolute; left: 0; top: 0; width: 100%; height: 100vh; inset: 0px auto auto 0px; background: #d9f252; }

.sc-study .content.pc .bg-area .bg { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

.sc-study .content.mobile .inner { position: relative; width: 100%; padding-right: 2.5rem; padding-left: 2.5rem; }

@media (min-width: 640px) { .sc-study .content.mobile .inner { max-width: 640px; } }

@media (min-width: 768px) { .sc-study .content.mobile .inner { max-width: 768px; } }

.sc-study .content.mobile .study-list-wrap { height: 65vh; }

.sc-study .content.mobile .study-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; width: 100%; height: 100%; }

.sc-study .content.mobile .study-area .thumb { position: absolute; top: 0; left: 0; }

.sc-study .content.mobile .study-area .caption-box { padding-bottom: 2.5rem; color: #fff; z-index: 1; }

.sc-study .content.mobile .study-area .sc-sub-title { margin-bottom: 1rem; }

.sc-study .content.mobile .study-area .badge { font-size: 0.625rem; }

.sc-study .content.mobile .swiper-pagination { right: 1.5rem; }

.sc-study .content.mobile .swiper-pagination-bullet { display: block; opacity: 1; margin-top: 1.5rem; margin-bottom: 1.5rem; background: #fff; }

.sc-study .content.mobile .swiper-pagination-bullet-active { background: #d9f252; }

.sc-insight .title-area .sc-sub-title { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.sc-insight .insight-list-wrap { padding-bottom: 3rem; padding-top: 3rem; }

@media (min-width: 1024px) { .sc-insight .insight-list-wrap { padding-bottom: 6rem; padding-top: 4rem; padding-left: 18vw; } }

@media (min-width: 1280px) { .sc-insight .insight-list-wrap { padding-top: 6rem; padding-left: 15vw; } }

@media (min-width: 1536px) { .sc-insight .insight-list-wrap { padding-left: 18vw; } }

@media (min-width: 1920px) { .sc-insight .insight-list-wrap { padding-left: 23vw; } }

.sc-insight .insight-list { margin: 0 auto; }

@media (min-width: 640px) { .sc-insight .insight-item { max-width: 460px; } }

.sc-insight .insight-area { position: relative; display: block; margin-right: 1.75rem; }

.sc-insight .insight-area.no-image { background-color: #006e6e; min-height: 310px; }

.sc-insight .insight-area .thumb-box { height: 100% !important; }

.sc-insight .insight-area .thumb-box img { width: 100%; height: 100%; min-height: 300px; -o-object-position: center; object-position: center; -o-object-fit: cover; object-fit: cover; -webkit-animation-name: fadeIn; animation-name: fadeIn; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-duration: 1s; animation-duration: 1s; }

.sc-insight .insight-area .info-box-wrap { position: absolute; top: 0; left: 0; z-index: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; width: 100%; height: 100%; padding-left: 1.5rem; padding-right: 1.5rem; padding-bottom: 3rem; color: #fff; }

@media (min-width: 1024px) { .sc-insight .insight-area .info-box-wrap { padding-left: 4rem; padding-right: 4rem; padding-bottom: 4rem; } }

.sc-insight .insight-area .type { display: -webkit-box; display: -ms-flexbox; display: flex; font-family: ApercuMonoPro; font-size: 0.625rem; text-transform: uppercase; }

@media (min-width: 1024px) { .sc-insight .insight-area .type { font-size: .9375rem; } }

.sc-insight .insight-area .title { display: block; margin-top: 1.25rem; margin-bottom: 1.25rem; font-size: 1.4375rem; }

@media (min-width: 1024px) { .sc-insight .insight-area .title { margin-top: 1.75rem; margin-bottom: 1.75rem; font-size: 2.1875rem; } }

.sc-insight .insight-area .btn-view { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border: 2px solid; padding: 0.5rem 1.25rem; margin-bottom: 1.5rem; font-family: ApercuMonoPro; font-size: .8125rem; text-transform: uppercase; line-height: 1; color: #333047; border-radius: 9999px; margin-bottom: 0; border: none; background: #d9f252; -webkit-transition-property: background-color, border-color, color, fill, stroke; transition-property: background-color, border-color, color, fill, stroke; -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); -webkit-transition-duration: 150ms; transition-duration: 150ms; }

@media (min-width: 1024px) { .sc-insight .insight-area .btn-view { font-size: .9375rem; } }

.sc-insight .swiper-pagination { display: block; }

@media (min-width: 1024px) { .sc-insight .swiper-pagination { display: none; } }

.btn-cookie { position: fixed; right: 20px; bottom: 20px; width: 40px; height: 40px; border-radius: 50%; -webkit-box-shadow: 0 0 10px RGB(0 0 0/30%); box-shadow: 0 0 10px RGB(0 0 0/30%); background: #fff; font-size: 16px; padding: 12px 20px; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transition: background-color .2s, color .2s; transition: background-color .2s, color .2s; z-index: 9; }

.btn-cookie .ico-cookie { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 24px; height: 24px; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

.btn-cookie .ico-cookie svg { fill: #000; -webkit-transition: .2s; transition: .2s; }

.btn-cookie:hover { background-color: #000; }

.btn-cookie:hover .ico-cookie svg { fill: #fff; }

.obj-circle { position: fixed; top: calc(50% - 281px); left: calc(50% - 281px); width: 562px; height: 562px; z-index: 0; opacity: 1; visibility: inherit; pointer-events: none; display: none; }

.obj-circle.fadeout { opacity: 0; visibility: hidden; }

@media (min-width: 1280px) { .obj-circle { display: block; } }

.obj-circle svg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; fill: currentColor; }

.obj-circle svg.circle1 { color: #d9f252; }

.obj-circle svg.circle2 { color: #333047; }
