// loading
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;

  .logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 104px;
    height: 31px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    z-index: 1;

    @include tablet-large {
      transform: translate(-100px, -28px);
    }

    svg {
      backface-visibility: hidden;
    }
  }

  &>svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// visual
.sc-visual {
  position: relative;
  height: 67vh;
  @include column(start);
  justify-content: flex-end;
  overflow: hidden;
  padding: 0;

  @include landscape {
    height: 100vh;
  }

  .common-inner {
    height: 100%;
  }

  .title-area {
    position: absolute;
    bottom: 3.5rem;
    z-index: 1;

    @include tablet-large {
      bottom: 50%;
    }

    .title {

      @include column(start);
      line-height: 1.375;
      font-size: clamp(2.8125rem, 8vw, 9.375rem);
      color: $color-white;

      @include tablet-large {
        line-height: 1.125;
      }
    }
  }

  .btn-scroll {
    position: absolute;
    left: calc(50% - 55px);
    bottom: 40px;
    width: 110px;
    height: 110px;
    border-radius: 110px;
    border: 2px solid $color-white;
    white-space: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font: {
      family: ApercuMonoPro;
      size: .8125rem;
    }

    text-transform: uppercase;
    line-height: 1.25;
    color: $color-white;
    display: none;
    z-index: 1;

    @include desktop-xsmall {
      display: flex;
    }

    svg {
      position: absolute;
      transform: rotate(90deg) scale(1);
      width: 1rem;
      height: 1rem;
      bottom: 1.5rem;
      stroke: currentColor;
    }
  }

  .bg-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: {
      image: url("../images/bg/visual_img_mobile.jpg");
      repeat: no-repeat;
      position: 50% 0;
      size: cover;
    }

    @include tablet-small {
      background-image: url("../images/bg/visual_img.jpg");
    }
  }
}

// intro
.sc-intro {
  position: relative;
  background: $color-white;

  .group-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;

    @include tablet-large {
      flex-direction: row;
    }
  }

  .title-area {
    order: 2;
    margin-top: 4rem;

    @include tablet-large {
      flex: 1 1 0;

      margin: {
        top: 0;
        left: 5rem;
      }
    }

    @include desktop-xsmall {
      margin-left: 10rem;
    }

    .desc {
      line-height: 2;
      font-size: clamp(1.4375rem, 2.9vw, 3.4375rem);

      @include tablet-large {
        line-height: 1.625;
      }
    }
  }

  .floating-txt {
    order: 1;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 295px;
    height: 295px;
    padding: 70px;
    border-radius: 50%;
    background: $color-point;

    // &.opacity {
    //   opacity: 0;
    //   transition: opacity .3s;

    //   &.fadein {
    //     opacity: 1;
    //   }
    // }

    @include desktop-xsmall {
      width: 400px;
      height: 400px;
      padding: 90px;
    }

    .motto {
      text-align: center;
      font-size: 1.4375rem;

      @include desktop-xsmall {
        font-size: 2.1875rem;
      }
    }
  }
}

// whatwedo
.sc-whatwedo {
  position: relative;
  color: $color-white;
  background-color: rgb(0, 110, 110);
  z-index: 1;

  .common-inner {
    display: flex;
    flex-direction: column;
  }

  .group-title {
    order: 2;
    display: grid;
    gap: 3rem;

    @include tablet-large {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 6rem;
    }
  }

  .title-area {

    .sc-title {
      color: $color-white;
    }

    .sc-sub-title {
      @include column(start);
    }

    .desc {
      margin-top: 2rem;
      line-height: 2;
      font-size: clamp(1rem, 1.35vw, 1.5625rem);
    }
  }

  .column-right {
    @include column(center);

    @include tablet-large {
      margin-top: 5rem;
    }
  }

  .whatwedo-list {
    display: flex;
    flex-direction: column;

    &:hover {
      .title {
        opacity: 0.5;
      }
    }
  }

  .whatwedo-item {
    &:hover {
      .title {
        opacity: 1;
      }
    }
  }

  .link-whatwedo {
    display: flex;
    align-items: center;
    font-size: 1.4375rem;
    line-height: 1.15;

    padding: {
      top: 0.5rem;
      bottom: 0.5rem;
    }

    @include tablet-large {
      font-size: 2.1875rem;

      padding: {
        top: 1rem;
        bottom: 1rem;
      }
    }

    @include desktop-xsmall {
      padding: {
        top: 1.5rem;
        bottom: 1.5rem;
      }
    }

    svg {
      stroke: currentColor;
      color: $color-point;
      width: 1rem;
      height: 1rem;
      margin-right: 1.5rem;
    }

    .title {
      @include transition-transparency;
    }
  }

  .group-value {
    order: 1;
    display: grid;
    gap: 4rem;
    margin-bottom: 5rem;

    @include tablet-large {
      gap: 3rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include desktop-xsmall {
      margin-bottom: 10rem;
      gap: 6rem;
    }
  }

  .value-area {
    font: {
      family: CMGLano;
      weight: 400;
    }

    &:nth-child(n+3) {
      justify-self: auto;

      @include tablet-large {
        justify-self: end;
      }
    }

    .value {
      display: inline-flex;
      margin-top: 1rem;
      pointer-events: none;
      color: $color-point;
      font-size: clamp(100px, 11vw, 205px);
      line-height: 1;
    }

    .title {
      display: block;
      font-size: 18px;
      line-height: 1;
      white-space: nowrap;
      text-transform: uppercase;
      color: $color-white;

      @include tablet-large {
        font-size: 22px;
      }
    }
  }
}

// client
.sc-client {
  .title-area {
    @include column(start);
  }

  .client-list-wrap {
    &.pc {
      display: none;

      .client-list {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include tablet-large {
          margin-top: 5rem;
        }

        @include desktop-xsmall {
          margin-top: 6rem;
        }

        @include desktop-medium {
          margin-top: 10rem;
        }
      }
    }

    &.mobile {
      display: block;
    }

    @include mobile {
      &.pc {
        display: block;
      }

      &.mobile {
        display: none;
      }
    }
  }

  .swiper {
    padding-bottom: 3rem;

    .swiper-slide {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .logo {
        width: calc((100% - 0.5rem) / 2);
      }
    }
  }
}

.client-list {
  margin-top: 3rem;
}

.client-item {
  width: calc((100% - 1.5rem) / 4);

  &:nth-child(n+5) {
    margin-top: 0.5rem;
  }

  .logo {
    display: flex;
    align-items: center;
  }
}

// study
.sc-study {
  padding: 0;

  @include tablet-large {
    position: relative;
  }

  .content {
    &.pc {
      display: none;
    }

    &.mobile {
      display: block;
    }

    @include tablet-large {
      &.pc {
        display: block;
      }

      &.mobile {
        display: none;
      }
    }
  }

  .sc-title {
    position: absolute;
    top: 5rem;
    z-index: 2;
    color: $color-white;
    margin-bottom: 0;

    @include tablet-large {
      position: relative;
      top: auto;
      margin-bottom: 8rem;
    }
  }

  .study-area {
    .badge-wrap {
      display: flex;
      flex-wrap: wrap;
    }

    .badge {
      @include round-title($color-white, $color-white);

      margin: {
        bottom: 1rem;
        right: 1rem;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .content {
    &.pc {

      .group-title {

        @include tablet-large {
          padding-top: 8rem;
        }
      }

      .study-list {
        display: flex;
        flex-direction: column;

        &:hover {
          .sc-sub-title {
            opacity: 0.5;
          }
        }
      }

      .study-item {
        margin-bottom: 8rem;

        &:hover {

          .sc-sub-title {
            opacity: 1;
          }

          .badge-wrap {
            opacity: 1;
            transform: translateX(0) scale(1);
          }
        }
      }

      .study-area {
        position: relative;
        display: block;
        z-index: 1;

        .sc-sub-title {
          max-width: 64rem;
          @include transition-opacity;
          transition-duration: 500ms;
        }

        .badge-wrap {
          transform: translateX(0.5rem) scale(1);
          @include transition-all;
          transition-duration: 500ms;
          opacity: 0;
        }
      }

      .bg-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: $color-point;
      }

      .bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        @include transition-opacity;
        transition-duration: 1000ms;

        &.visible {
          opacity: 1;
          z-index: 1;
          transition-duration: 500ms;
        }
      }
    }

    &.mobile {
      .inner {
        position: relative;
        width: 100%;

        padding: {
          right: 2.5rem;
          left: 2.5rem;
        }

        @include mobile {
          max-width: 640px;
        }

        @include tablet-small {
          max-width: 768px;
        }
      }

      .study-list-wrap {
        height: 65vh;
      }

      .study-area {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        height: 100%;

        .thumb {
          position: absolute;
          top: 0;
          left: 0;
        }

        .caption-box {
          padding-bottom: 2.5rem;
          color: $color-white;
          z-index: 1;
        }

        .sc-sub-title {
          margin-bottom: 1rem;
        }

        .badge {
          font-size: 0.625rem;
        }
      }

      .swiper-pagination {
        right: 1.5rem;

        &-bullet {
          display: block;
          opacity: 1;

          margin: {
            top: 1.5rem;
            bottom: 1.5rem;
          }

          background: $color-white;

          &-active {
            background: $color-point;
          }
        }
      }
    }
  }
}

// insight
.sc-insight {

  &.grab {

    .insight-list,
    .insight-area {
      cursor: grabbing;
    }

  }

  .title-area {
    .sc-sub-title {
      @include column(start);
    }
  }

  .insight-list-wrap {
    padding: {
      bottom: 3rem;
      top: 3rem;
    }

    @include tablet-large {
      padding: {
        bottom: 6rem;
        top: 4rem;
        left: 18vw;
      }
    }

    @include desktop-xsmall {
      padding: {
        top: 6rem;
        left: 15vw;
      }
    }

    @include desktop-medium {
      padding-left: 18vw;
    }

    @include desktop-large {
      padding-left: 23vw;
    }
  }

  .insight-list,
  .insight-area {
    cursor: grab;
  }

  .insight-list {
    margin: 0 auto;
  }

  .insight-item {
    @include mobile {
      max-width: 460px;
    }
  }

  .insight-area {
    position: relative;
    display: block;
    margin-right: 1.75rem;

    &.no-image {
      background-color: $color-green;
      min-height: 310px;
    }

    .thumb-box {
      height: 100% !important;

      img {
        width: 100%;
        height: 100%;
        min-height: 300px;
        object-position: center;
        object-fit: cover;

        animation: {
          name: fadeIn;
          fill-mode: both;
          duration: 1s;
        }
      }
    }

    .info-box-wrap {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: flex;
      align-items: flex-end;
      width: 100%;
      height: 100%;

      padding: {
        left: 1.5rem;
        right: 1.5rem;
        bottom: 3rem;
      }

      color: $color-white;

      @include tablet-large {
        padding: {
          left: 4rem;
          right: 4rem;
          bottom: 4rem;
        }
      }
    }

    .type {
      display: flex;

      font: {
        family: ApercuMonoPro;
        size: 0.625rem;
      }

      text-transform: uppercase;

      @include tablet-large {
        font-size: .9375rem;
      }
    }

    .title {
      display: block;

      margin: {
        top: 1.25rem;
        bottom: 1.25rem;
      }

      font-size: 1.4375rem;

      @include tablet-large {
        margin: {
          top: 1.75rem;
          bottom: 1.75rem;
        }

        font-size: 2.1875rem;
      }
    }

    .btn-view {
      @include round-title(null, $color-navy);
      margin-bottom: 0;
      border: none;
      background: $color-point;
      @include transition-color;
    }
  }

  .swiper-pagination {
    display: block;

    @include tablet-large {
      display: none;
    }
  }
}

// btn-cookie
.btn-cookie {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 10px RGB(0 0 0 / 30%);
  background: $color-white;
  font-size: 16px;
  padding: 12px 20px;
  backface-visibility: hidden;
  transition: background-color .2s, color .2s;
  z-index: 10;

  .ico-cookie {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    backface-visibility: hidden;

    svg {
      fill: $color-black;
      transition: .2s;
    }
  }

  &:hover {
    background-color: $color-black;

    .ico-cookie {
      svg {
        fill: $color-white;
      }
    }
  }
}

// obj-circle
.obj-circle {
  position: fixed;
  top: calc(50% - 281px);
  left: calc(50% - 281px);
  width: 562px;
  height: 562px;
  z-index: 0;
  opacity: 1;
  visibility: inherit;
  pointer-events: none;
  display: none;

  &.fadeout {
    opacity: 0;
    visibility: hidden;
  }

  @include desktop-xsmall {
    display: block;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: currentColor;

    &.circle1 {
      color: $color-point;
    }

    &.circle2 {
      color: $color-navy;
    }
  }
}

.cursor {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 100;

  @include desktop-xsmall {
    visibility: visible;
  }

  &-pointer {
    position: absolute;
    width: 1rem;
    height: 1rem;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 50%;
    background-color: $color-point;

    transition: {
      property: transform;
      duration: 200ms;
      timing-function: cubic-bezier(.25, .46, .45, .94);
    }
  }

  &-icons {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);

    font: {
      family: ApercuMonoPro;
      size: 13px;
    }

    line-height: 1.25;
    color: $color-navy;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: 0;
    @include transition-opacity;
    transition-duration: 75ms;
    display: none;

    @include desktop-xsmall {
      display: flex;
    }
  }

  .ico-cursor {
    width: 13px;
    height: 13px;
    stroke: currentColor;
    display: none;
  }

  &.hover {
    .cursor-icons {
      opacity: 1;
      transition-duration: 200ms;
    }
  }

  &.scroll {
    .cursor-pointer {
      transform: translate(-50%, -50%) scale(6);
    }
  }

  &.view {
    .cursor-pointer {
      transform: translate(-50%, -50%) scale(7);
    }

    .ico-cursor.arrow-right {
      display: block;
      margin-left: 7px;
    }
  }

  &.drag {
    .cursor-pointer {
      transform: translate(-50%, -50%) scale(8);
    }

    .txt {
      order: 2;

      margin: {
        left: 7px;
        right: 7px;
        top: -30px;
      }
    }

    .ico-cursor {
      display: block;
      margin-top: -30px;

      &.arrow-left {
        order: 1;
      }

      &.arrow-right {
        order: 3;
      }
    }
  }

  &.contact {
    .cursor-pointer {
      transform: translate(-50%, -50%) scale(9.5);
    }

    .ico-cursor.arrow-right {
      display: block;
      margin-left: 7px;
    }
  }
}